certifi
tornado>=5.1
cryptography
decorator>=4.4
APScheduler==3.6
pytz>=2018.6
conda
selenium
selenium-wire
google
kora
aliyun-python-sdk-core-v3
aliexpress-sdk
selenium-wire
pyautogui
script_logger
gspread 
oauth2client 
df2gspread
google-auth-httplib2
jupyterlab
script_logger
attrs
msedge-selenium-tools